@page "/manage-schedules"
@attribute [Authorize(Roles = "Admin,Faculty")]
@layout MainLayout
@using ICSS.Client.Pages.Admin.Components
@using ICSS.Shared
@using System.Net

@using SectionsModel = ICSS.Shared.Sections
@using TaskStatus = ICSS.Shared.TaskStatus

<MudContainer Class="py-4 py-sm-8 py-md-12 py-lg-16 py-xl-20">
    <MudGrid>
        <MudItem xs="12">
            @if (!MainLayout.IsOnline)
            {
                <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Style="margin-bottom: 16px;" Visible="!isOnline">
                    You are currently offline. Data may not be up-to-date.
                </MudAlert>
            }
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="w-100" Style="background-color: #1abc9c; color: white">
                <MudText Typo="Typo.h6" Class="fw-bold p-2">Schedule Generation</MudText>
            </MudPaper>

            <MudDivider />
        </MudItem>
        <MudItem xs="12">
            @* <MudAlert Severity="Severity.Info" Variant="Variant.Filled" Style="margin-bottom: 16px;">
                Note: You are generating schedule for all departments.
            </MudAlert> *@

            <MudDataGrid Items="scheduleRequests" Dense Hover Filterable Striped Virtualize ShowColumnOptions Hideable ShowMenuIcon Loading="isLoading">
                <ToolBarContent>
                    <MudStack>
                        <MudStack Row Spacing="1">
                            <MudSelect T="int?" @bind-Value="SelectedDepartment" FullWidth ReadOnly="isUserHasDepartment" Clearable="!isUserHasDepartment" Label="Select Department" AdornmentIcon="fa-solid fa-school" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Primary">
                                @foreach (var item in departments)
                                {
                                    <MudSelectItem T="int?" Value="@(item.DepartmentId)">@item.DepartmentName</MudSelectItem>
                                }
                            </MudSelect>

                            <MudSelect @bind-Value="selectedCourse" T="int?" FullWidth Clearable Label="Select Course" AdornmentIcon="fa-solid fa-graduation-cap" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Primary">
                                @foreach (var item in coursesTemp)
                                {
                                    <MudSelectItem T="int?" Value="@(item.CourseId)">@item.CourseName</MudSelectItem>
                                }
                            </MudSelect>
                        </MudStack>                                                                        
                    </MudStack>
                    <MudSpacer />
                    @*   <MudSelect @bind-Value="selectedSchoolYear" Clearable Label="Select School Year" AdornmentIcon="fa-solid fa-calendar-day" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Primary">
                        @foreach (var item in schoolYear)
                        {
                            <MudSelectItem Value="@(item)">@item</MudSelectItem>
                        }
                    </MudSelect>

                    <MudSelect T="YearLevel?" @bind-Value="selectedYearLevel" Label="Select Year Level" Clearable="true"
                               AdornmentIcon="fa-solid fa-hashtag" Variant="Variant.Outlined"
                               Margin="Margin.Dense" AdornmentColor="Color.Primary">
                        @foreach (var item in yearLevel)
                        {
                            <MudSelectItem T="YearLevel?" Value="@item">@item.ToString().Replace("_", " ")</MudSelectItem>
                        }
                    </MudSelect>    *@                                   
                    <MudBreakpointProvider>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudButton Size="Size.Small" StartIcon="fa-solid fa-calendar-days" IconSize="Size.Small" Variant="Variant.Filled" Color="Color.Success" Class="my-2 mx-1" Disabled="!MainLayout.IsOnline">
                                Generate
                            </MudButton>
                            <MudButton Size="Size.Small" StartIcon="fa-solid fa-refresh" IconSize="Size.Small" Variant="Variant.Filled" Color="Color.Primary" Class="my-2 mx-1" Disabled="!MainLayout.IsOnline">
                                Refresh
                            </MudButton>
                        </MudHidden>
                        <MudHidden Breakpoint="Breakpoint.MdAndDown" Invert="true">
                            <MudIconButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Class="my-2 mx-1" Size="Size.Small" Icon="fa-solid fa-user-plus" Color="Color.Success" Disabled="!MainLayout.IsOnline" />
                            <MudIconButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Class="my-2 mx-1" Size="Size.Small" Icon="fa-solid fa-refresh" Color="Color.Primary" Disabled="!MainLayout.IsOnline" />
                        </MudHidden>
                    </MudBreakpointProvider>

                </ToolBarContent>
                <Columns>
                    <TemplateColumn Title="Actions" HeaderClass="data-grid text-nowrap text-white" Hideable="false">
                        <CellTemplate>
                            <MudStack Row>
                                <MudTooltip Text="View Schedule">
                                    <MudIconButton Icon="fa-solid fa-eye" Size="Size.Medium" Color="Color.Info" Variant="Variant.Filled" OnClick="@(() => OnShowSchedules(context.Item.Section,context.Item.Course, context.Item.YearLevel,context.Item.Semester))" />
                                </MudTooltip>                                
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Course.CourseName" Title="Course" Sortable="true" HeaderClass="data-grid text-nowrap text-center text-white" CellClass="text-nowrap text-center" />
                    <PropertyColumn Property="x => x.Section.SchoolYear" Title="School Year" Sortable="true" HeaderClass="data-grid text-nowrap text-white" />
                    <PropertyColumn Property="x => x.YearLevel" Title="Year Level" Sortable="true" HeaderClass="data-grid text-nowrap text-white">
                        <CellTemplate>
                            <MudText Typo="Typo.body2">@context.Item.YearLevel.ToString().Replace("_", " ")</MudText>
                        </CellTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.Semester" Title="Semester" Sortable="true" HeaderClass="data-grid text-nowrap text-white">
                        <CellTemplate>
                            <MudText Typo="Typo.body2">@context.Item.Semester.ToString().Replace("_", " ")</MudText>
                        </CellTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.IsActive" Title="Is Active Schedule" Sortable="true" HeaderClass="data-grid text-nowrap text-white">
                        <CellTemplate>
                            @if (context.Item.IsActive)
                            {
                                <MudChip Variant="Variant.Filled" Size="Size.Small" Color="Color.Success">Active</MudChip>
                            }
                            else
                            {
                                <MudChip Variant="Variant.Filled" Size="Size.Small" Color="Color.Error">In Active</MudChip>
                            }
                        </CellTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.TaskStatus" Title="Status" Sortable="true" HeaderClass="data-grid text-nowrap text-white">
                        <CellTemplate>
                            @if (context.Item.TaskStatus == ICSS.Shared.TaskStatus.On_Queue)
                            {
                                <MudChip Variant="Variant.Filled" Size="Size.Small" Color="Color.Default">On Queue</MudChip>
                            }
                            else if (context.Item.TaskStatus == ICSS.Shared.TaskStatus.Processing)
                            {
                                <MudChip Variant="Variant.Filled" Size="Size.Small" Color="Color.Info">Processing</MudChip>
                            }
                            else if (context.Item.TaskStatus == ICSS.Shared.TaskStatus.Success)
                            {
                                <MudChip Variant="Variant.Filled" Size="Size.Small" Color="Color.Success">Success</MudChip>
                            }
                            else if (context.Item.TaskStatus == ICSS.Shared.TaskStatus.Failed)
                            {
                                <MudChip Variant="Variant.Filled" Size="Size.Small" Color="Color.Error">Failed</MudChip>
                            }
                            else if (context.Item.TaskStatus == ICSS.Shared.TaskStatus.Cancelled)
                            {
                                <MudChip Variant="Variant.Filled" Size="Size.Small" Color="Color.Warning">Cancelled</MudChip>
                            }
                        </CellTemplate>
                    </PropertyColumn>                    
                    <PropertyColumn Property="x => x.CreatedBy" Title="Created By" Sortable="true" Hideable="true" HeaderClass="data-grid text-nowrap text-white">
                        <CellTemplate>
                            <MudStack Spacing="0">
                                <MudText Typo="Typo.body2" Class="fw-bold">@context.Item.CreatedBy</MudText>
                                <MudText Typo="Typo.body2" Class="fw-italic">@context.Item.CreatedOn</MudText>
                            </MudStack>
                        </CellTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.UpdatedBy" Title="Updated By" Sortable="true" Hideable="true" HeaderClass="data-grid text-nowrap text-white">
                        <CellTemplate>
                            <MudStack Spacing="0">
                                <MudText Typo="Typo.body2" Class="fw-bold">@context.Item.UpdatedBy</MudText>
                                <MudText Typo="Typo.body2" Class="fw-italic">@context.Item.UpdatedOn</MudText>
                            </MudStack>
                        </CellTemplate>
                    </PropertyColumn>
                </Columns>
                @* <ChildRowContent>
                    <MudCalendar Class="w-100" DayStartTime="@TimeOnly.Parse(" 08:00")" ShowMonth="false" ShowTodayButton="false" ShowDatePicker="false" ShowPrevNextButtons="false" ShowDay="false" ShowWeek="true"
                    DayTimeInterval="CalendarTimeInterval.Minutes30" ShowCurrentTime="true" Use24HourClock="false" Items="@GetCalendarItems(context.Item.TimeSlots)" Context="tableContext"
                    FirstDayOfWeek="DayOfWeek.Monday">
                        <CellTemplate>
                            <div style="width: 100%; height: 100%; border: 2px solid #594AE2">
                                <div style="background-color: #594AE2"><MudText Style="color: #ffffff;" Typo="Typo.body1" Align="Align.Center">@(((CustomItem)tableContext).Title)</MudText></div>
                                <div class="pa-2"><MudText Typo="Typo.body2">@tableContext.Text</MudText></div>
                            </div>
                        </CellTemplate>
                    </MudCalendar>
                </ChildRowContent> *@
                <NoRecordsContent>
                    <MudText>No Records to show</MudText>
                </NoRecordsContent>
                <LoadingContent>
                    <MudText>Loading Content...</MudText>
                </LoadingContent>
                <PagerContent>
                    <MudDataGridPager T="ScheduleRequest" />
                </PagerContent>
            </MudDataGrid>
        </MudItem>

    </MudGrid>
</MudContainer>

@code {
    [CascadingParameter]
    public MainLayout MainLayout { get; private set; }
    [Inject] private ISnackbar Snackbar { get; set; }
    [Inject] private ILocalStorageService LocalStorage { get; set; }
    [Inject] private HttpClient HttpClient { get; set; }
    [Inject] private ApiRequestHelper ApiHelper { get; set; }
    [Inject] private NavigationManager navigationManager { get; set; }
    [Inject] IDialogService? DialogService { get; set; }


    private List<ScheduleRequest> scheduleRequests = new();
    private Departments? userDepartment = new();
    private List<Departments>? departments = new();
    private List<string>? schoolYears = new();
    private List<Course> courses = new();
    private List<Course> coursesTemp = new();

    private List<SectionsModel>? sections = new();
    private List<string>? schoolYear = new();
    private List<YearLevel?>? yearLevel = new();
    private List<string>? sectionFilter = new();

    private int? selectedDepartment;
    public int? SelectedDepartment
    {
        get => selectedDepartment;
        set
        {
            selectedDepartment = value;
            OnChangeDepartment(selectedDepartment);
            InvokeAsync(() => StateHasChanged());
        }
    }

    private YearLevel? selectedYearLevel;
    private string? selectedSchoolYear;
    private int? selectedCourse;

    private bool isLoading = false;
    private bool isUserHasDepartment = false;

    protected override async Task OnInitializedAsync()
    {
        MainLayout.SubTitle = "Schedule Management";
        await OnLoadDepartments();
        await GetUserDepartment();
        await OnGetCourses();
        // await OnGetSections();
        await OnGetScheduleList();
        await base.OnInitializedAsync();
    }

    // protected override void OnInitialized()
    // {
    //     scheduleRequests = new List<ScheduleRequest>
    // {
    //     new ScheduleRequest
    //     {
    //         ScheduleId = 1,
    //         Course = new Course { CourseId = 101, CourseName = "Bachelor of Computer Science",CourseCode = "BSCS" },
    //         YearLevel = YearLevel.First_Year,
    //         Section = new SectionsModel {  SectionName = "A", SchoolYear="SY 2025-2026" },
    //         Semester = Semester.First_Semester ,
    //         Departments = new Departments { DepartmentName = "Information Technology" },
    //         IsActive = true,
    //         TaskStatus = TaskStatus.On_Queue,
    //         TimeSlots = new List<ScheduleTimeSlot>
    //         {
    //             new ScheduleTimeSlot
    //             {
    //                 TimeSlotId = 1,
    //                 Subject = new Subjects { SubjectId = 201 },
    //                 Room = new Rooms {RoomId = 301 },
    //                 Faculty = new FacultyModel {FacultyId = 401 },
    //                 Day = DayOfWeek.Monday,
    //                 StartTime = new TimeSpan(8, 0, 0),
    //                 EndTime = new TimeSpan(10, 0, 0)
    //             },
    //             new ScheduleTimeSlot
    //             {
    //                 TimeSlotId = 2,
    //                 Subject = new Subjects {SubjectId = 202 },
    //                 Room = new Rooms {RoomId = 302 },
    //                 Faculty = new FacultyModel {FacultyId = 402 },
    //                 Day = DayOfWeek.Wednesday,
    //                 StartTime = new TimeSpan(10, 0, 0),
    //                 EndTime = new TimeSpan(12, 0, 0)
    //             }
    //         }
    //     },
    //     new ScheduleRequest
    //     {
    //         ScheduleId = 2,
    //         Course = new Course { CourseId = 102, CourseName = "Bachelor of Business Administration", CourseCode = "BSBA" },
    //         YearLevel = YearLevel.Second_Year,
    //         Section = new SectionsModel {  SectionName = "B", SchoolYear="SY 2025-2026" },
    //         Semester =Semester.Second_Semester,
    //         Departments = new Departments { DepartmentName = "Business Administration" },
    //         IsActive = true,
    //         TaskStatus = TaskStatus.Processing,
    //         TimeSlots = new List<ScheduleTimeSlot>
    //         {
    //             new ScheduleTimeSlot
    //             {
    //                 TimeSlotId = 3,
    //                 Subject = new Subjects{ SubjectId = 203 },
    //                 Room = new Rooms{ RoomId = 303 },
    //                 Faculty = new FacultyModel {FacultyId = 403 },
    //                 Day = DayOfWeek.Friday,
    //                 StartTime = new TimeSpan(1, 0, 0),
    //                 EndTime = new TimeSpan(2, 0, 0)
    //             }
    //         }
    //     }
    // };
    // }


    private async Task OnShowSchedules(SectionsModel? sections, Course? course, YearLevel? yearLevel, Semester? semester)
    {
        try
        {
            var options = new DialogOptions
                {
                    CloseOnEscapeKey = true,
                    FullWidth = true,
                    MaxWidth = MaxWidth.Large,
                    BackdropClick = false,
                    CloseButton = true,
                    BackgroundClass = "blurred"

                };

            var parameters = new DialogParameters<ScheduleDialog>
            {
                { x => x.section, sections?.SectionName },
                { x => x.courseCode, course?.CourseCode },
                { x => x.schoolYear, sections?.SchoolYear},
                { x => x.yearLevel, yearLevel.ToString().Replace("_"," ")},
                { x => x.semester, semester.ToString().Replace("_"," ")},
               
            };

            var dialog = await DialogService.ShowAsync<ScheduleDialog>("", parameters, options);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An unexpected error occurred: {ex.Message}", Severity.Error);
        }
    }


    private void OnChangeDepartment(int? value)
    {
       
        if(courses.Any())
        {
            coursesTemp=courses.Where(c => c.Departments?.DepartmentId == value).GroupBy(c => c.CourseName).Select(g => g.First()).ToList();
        }
    }

    private List<CustomItem> GetCalendarItems(List<ScheduleTimeSlot> schedule)
    {
        var items = new List<CustomItem>();
        TimeZoneInfo manilaTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Asia/Manila");

        foreach (var item in schedule)
        {
            var today = DateTime.Today;
            int daysUntilTarget = ((int)item.Day - (int)today.DayOfWeek + 7) % 7;
            DateTime targetDate = today.AddDays(daysUntilTarget);

            if (item.Day == DayOfWeek.Monday)
            {
                targetDate = targetDate.AddDays(-1);
            }

            DateTime startDate = targetDate.Add(item.StartTime);
            DateTime endDate = targetDate.Add(item.EndTime);

            DateTime manilaStartDateTime = DateTime.SpecifyKind(startDate, DateTimeKind.Unspecified);
            DateTime manilaEndDateTime = DateTime.SpecifyKind(endDate, DateTimeKind.Unspecified);

            DateTime utcStartDateTime = TimeZoneInfo.ConvertTimeToUtc(manilaStartDateTime, manilaTimeZone);
            DateTime utcEndDateTime = TimeZoneInfo.ConvertTimeToUtc(manilaEndDateTime, manilaTimeZone);

            var timeSlot = new CustomItem
                {
                    Title = "Room 102",
                    Text = "CS102 - Programming 1",
                    Start = utcStartDateTime,
                    End = utcEndDateTime
                };

            items.Add(timeSlot);
        }

        return items;
    }



    private class CustomItem : CalendarItem
    {
        public string Title { get; set; } = string.Empty;
        public string Location { get; set; } = string.Empty;
        public Color Color { get; set; } = Color.Primary;
    }



    private async Task GetUserDepartment()
    {
        try
        {
            var response = await HttpClient.GetAsync($"UserManagement/GetUserDepartment/{MainLayout.CurrentUserId}");

            if (response.IsSuccessStatusCode)
            {
                if (response.StatusCode == HttpStatusCode.NoContent)
                {
                    isUserHasDepartment = false;
                    SelectedDepartment = null;
                    return;
                }

                var department = await response.Content.ReadFromJsonAsync<Departments>();

                if (department is not null)
                {
                    userDepartment = department;
                    isUserHasDepartment = true;
                    SelectedDepartment = userDepartment.DepartmentId;                    
                }
                else
                {
                    isUserHasDepartment = false;
                    selectedDepartment = null;
                }
            }
            else
            {
                Snackbar.Add($"Error: {response.ReasonPhrase}", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error getting user department data: {ex.Message}", Severity.Error);
        }
    }




    private async Task OnLoadDepartments()
    {


        try
        {

            var response = await ApiHelper.GetAsync<List<Departments>>("DepartmentManagement/GetAllDepartments");
            if (response.IsSuccess)
            {
                departments = response.Data;

                StateHasChanged();
            }
            else
            {
                Snackbar.Add($"Failed to load departments: {response.Message}", Severity.Error);
            }



        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
        }

    }

    private async Task OnGetCourses()
    {
        try
        {
            var response = await ApiHelper.GetAsync<List<Course>>("CourseAndSubject/GetAllCourses");
            if (response.IsSuccess)
            {
                courses = response.Data;
                if (isUserHasDepartment)
                {
                    OnChangeDepartment(selectedDepartment);
                }
                StateHasChanged();
            }
            else
            {
                Snackbar.Add($"Failed to load courses: {response.Message}", Severity.Error);
            }

        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
        }
    }



    private async Task OnGetSections()
    {


        try
        {

            var response = await ApiHelper.GetAsync<List<SectionsModel>>("SectionManagement/GetSections");
            if (response.IsSuccess)
            {
                sections = response.Data;
                if (isUserHasDepartment)
                {
                    // courses = courses.Where(c => c.Departments?.DepartmentId == selectedDepartment).GroupBy(c => c.CourseName).Select(g => g.First()).ToList();

                    var filteredSections = sections.Where(s => courses.Any(fc => fc.CourseId == s.CourseId)).ToList();
                    // schoolYear = filteredSections.Select(s => s.SchoolYear).Distinct().ToList();
                    // yearLevel = filteredSections.Where(s => s.YearLevel != null).Select(s => s.YearLevel).Distinct().ToList();
                    // sectionFilter = filteredSections.GroupBy(s => s.SectionName).Select(g => g.First().SectionName).OrderBy(name => name).ToList();
                }
                else
                {
                    courses = new();
                    // courses = sections.Where(s => s.Course != null).DistinctBy(s => s.Course.CourseName).Select(s => s.Course).ToList();
                    // schoolYear = sections.Where(s => !string.IsNullOrEmpty(s.SchoolYear)).Select(s => s.SchoolYear).Distinct().ToList();
                    // yearLevel = sections.Where(s => s.YearLevel != null).Select(s => s.YearLevel).Distinct().ToList();
                    // sectionFilter = sections.Where(s => !string.IsNullOrEmpty(s.SectionName) && !s.IsDeleted).Select(s => s.SectionName!).Distinct().OrderBy(s => s).ToList();
                }
                
                StateHasChanged();
            }
            else
            {
                Snackbar.Add($"Failed to load sections: {response.Message}", Severity.Error);
            }


        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
        }
        finally
        {



            isLoading = false;
        }
    }


    private async Task OnGetScheduleList()
    {


        try
        {

            var response = await ApiHelper.GetAsync<List<ScheduleRequest>>("ScheduleManagement/GetScheduleList");
            if (response.IsSuccess)
            {
                scheduleRequests = response.Data;

                StateHasChanged();
            }
            else
            {
                Snackbar.Add($"Failed to load departments: {response.Message}", Severity.Error);
            }



        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
        }

    }





}